[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
auth0-python = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
aiounittest = "*"
botocore = "*"
jsons = "*"
sqlalchemy = "*"
pyyaml = "*"
openfga-sdk = "*"
pyjwt = "*"
pem = "*"
cryptography = "*"
requests = "*"
pyinstrument = "*"
moto = "*"
aiosqlite = "*"
greenlet = "*"
asyncpg = "*"
httpx = "*"
gunicorn = "*"
black = "*"

[dev-packages]
black = "*"
pre-commit = "*"
coverage = "*"

[requires]
python_version = "3.11"
