.ms-TextField-field:focus {
  // remove the blue border
  box-shadow: none !important;
}

.ms-TextField-fieldGroup textarea::placeholder {
  color: theme("colors.gray.500") !important;
}

span[data-ui-id="message-timestamp"] {
  color: theme("colors.gray.600");
}

.fui-ChatMessage__author > span {
  color: theme("colors.gray.600");
}

.dark {
  .ms-TextField-fieldGroup textarea::placeholder {
    color: theme("colors.gray.400") !important;
  }

  span[data-ui-id="message-timestamp"] {
    color: theme("colors.gray.400");
  }

  .fui-ChatMessage__author > span {
    color: theme("colors.gray.400");
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-message-composite {
  animation: fadeInUp 0.5s ease-out;
  opacity: 0; /* Start from invisible */
  animation-fill-mode: forwards; /* Ensures the element remains in the final state of the animation */
}
