/* Put global react flow styles here */

.react-flow__connectionline {
  z-index: 50 !important;
}

.react-flow__edges:not(.react-flow__connectionline) {
  z-index: 0 !important;
}

/* see https://reactflow.dev/docs/guides/theming/ */
.react-flow__edges {
  --connection-color: theme("colors.primary.600");

  ///* lowering the z index of edges makes it easier to overlay other divs on top of them (make sure group nodes have an even lower z index) */
  cursor: default;

  .react-flow__edge-path {
    stroke-width: 2px;
    stroke: #545b64;
  }

  .react-flow__edge {
    marker.arrow-closed {
      fill: #545b64;
    }
  }

  marker.connection-arrow-closed {
    fill: var(--connection-color);
  }

  .react-flow__edge.selected .react-flow__edge-path,
  .react-flow__edge:focus .react-flow__edge-path,
  .react-flow__edge:focus-visible .react-flow__edge-path {
    stroke: var(--connection-color);
  }

  .react-flow__connection-path {
    stroke: var(--connection-color);
  }

  /* styling for the markers on the ends of edges */
  .react-flow__edge:focus marker {
    fill: var(--connection-color);
  }

  .dark {
    .react-flow__edge.selected .react-flow__edge-path,
    .react-flow__edge:focus .react-flow__edge-path,
    .react-flow__edge:focus-visible .react-flow__edge-path {
      stroke: var(--connection-color);
    }

    .react-flow__connection-path {
      stroke: var(--connection-color);
    }

    .react-flow__edge:focus marker {
      fill: var(--connection-color);
    }
  }
}

.dark {

  .react-flow__controls-button:hover {
    background: theme("colors.gray.600") !important;
  }

  .react-flow__controls-button {
    background: theme("colors.gray.800") !important;
    border-bottom-color: theme("colors.gray.900") !important;
    fill: theme("colors.gray.300") !important;
    stroke: theme("colors.gray.300") !important;

    svg {
      fill-opacity: 1 !important;
      fill: theme("colors.gray.300") !important;
      stroke: theme("colors.gray.300") !important;
    }
  }

  .react-flow__controls-button:disabled {
    fill: theme("colors.gray.500") !important;
    stroke: theme("colors.gray.500") !important;

    svg {
      fill-opacity: 1 !important;
      fill: theme("colors.gray.500") !important;
      stroke: theme("colors.gray.500") !important;
    }
  }
}
