/* Put global react flow styles here */

/* see https://reactflow.dev/docs/guides/theming/ */

/* lowering the z index of edges makes it easier to overlay other divs on top of them (make sure group nodes have an even lower z index) */
.react-flow__edges {
  z-index: 1 !important;
}

.react-flow__edge-path {
  stroke-width: 2px !important;
  stroke: #545B64 !important;
}

.react-flow__edge {
  marker.arrow-closed {
    fill: #545B64;
  }
}

.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge:focus .react-flow__edge-path,
.react-flow__edge:focus-visible .react-flow__edge-path {
  stroke: rgb(124 58 237 / 1) !important;
}

.react-flow__connection-path {
  stroke: rgb(124 58 237 / 1) !important;
}

/* styling for the markers on the ends of edges */
.react-flow__edge:focus  marker {
  fill: rgb(124 58 237 / 1);
}

.dark {
  .react-flow__edge.selected .react-flow__edge-path,
  .react-flow__edge:focus .react-flow__edge-path,
  .react-flow__edge:focus-visible .react-flow__edge-path {
    stroke: rgb(139 92 246) !important;
  }
  .react-flow__connection-path {
    stroke: rgb(139 92 246) !important;
  }


  .react-flow__edge:focus  marker {
    fill: rgb(139 92 246);
  }

  // TODO: style the react flow controls for dark mode
  //.react-flow__controls-button {
  //  background: #a2a2a2 !important;
  //  border-bottom-color: #252525 !important;
  //}
}

