.resource-node {
  --handle-color: rgb(126 58 242 / var(--tw-bg-opacity));
  transform: translateX(-50px);

  .full-icon-handle {
    width: 180px;
    height: 100px;
    transform: none;
    left: 20px;
    top: 10px;
    border-radius: 0;
    border: 0;
    opacity: 0;
  }

  .handle-source {
    width: 10px;
    height: 10px;
  }

  .node-handle.react-flow__handle-right {
    width: 25px;
    height: 40px;
    border: 0;
    right: 35px;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    //box-shadow: #4ade80 0px 0px 0px 2px; // uncomment for debugging the hit-box
  }

  .handle-source.handle-right {
    border-left: 10px solid var(--handle-color);
    border-right: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: relative;
    left: 10px;
    opacity: 85;
  }

  // TODO: align remaining handles to center of node
  .handle-source.handle-left {
    border-left: 0;
    border-right: 10px solid var(--handle-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .handle-source.handle-top {
    border-top: 10px solid var(--handle-color);
    border-bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .handle-source.handle-bottom {
    border-top: 0;
    border-bottom: 10px solid var(--handle-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
