.resource-node {
  --handle-color: rgb(126 58 242 / var(--tw-bg-opacity));

  .react-flow__handle {
    z-index: 5;
  }

  .full-icon-handle {
    width: 100%;
    height: 100%;
    transform: none;
    left: 0;
    top: 0;
    border-radius: 0;
    border: 0;
    opacity: 0;
  }

  .handle-source {
    width: 10px;
    height: 10px;
  }

  .node-handle.react-flow__handle-right {
    width: 25px;
    height: 32px;
    background: transparent;
    border: 0;
    right: -22px;
  }

  .handle-source.handle-right {
    border-left: 10px solid var(--handle-color);
    border-right: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: relative;
    right: -15px;
    top: 6px;
    left: 5px;
  }

  // TODO: align remaining handles to center of node
  .handle-source.handle-left {
    border-left: 0;
    border-right: 10px solid var(--handle-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .handle-source.handle-top {
    border-top: 10px solid var(--handle-color);
    border-bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .handle-source.handle-bottom {
    border-top: 0;
    border-bottom: 10px solid var(--handle-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
